.search {
  padding: 14px;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--color-black);
  width: 502px;
  height: 95%;

}
.wrapper {
  display: flex;
  align-items: center;
  height: 48px;
}
.search-button {
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid var(--color-black);
  border-left: none;
  height: 95%;
  padding: 14px 20px;
  cursor: pointer;
}
