.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.segmentWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.toggleText {
    cursor: pointer;
    color: var(--color-primary);
}

.cardWrap {
    margin-top: 18px;
}

.filterWrapper {
    margin-top: 15px;
    
}