.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  width: 9rem;
  height: 3rem;
  top: 13px;
  left: 1238;
  padding: 10px 16px 10px 16px;
  gap: 10px;
  border-radius: 12px;
  cursor: pointer;
  display: flex; 
  justify-content: center; 
  align-items: center;
}